@font-face {
  font-family: "iconfont"; /* Project id 4100881 */
  src: url('iconfont.woff2?t=1689328374899') format('woff2'),
       url('iconfont.woff?t=1689328374899') format('woff'),
       url('iconfont.ttf?t=1689328374899') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-ziyuan694:before {
  content: "\e799";
}

.icon-jiaobiao:before {
  content: "\e6c2";
}

.icon-shangyiyeqianyiye:before {
  content: "\e768";
}

.icon-tianjia:before {
  content: "\e604";
}

.icon-xiayiyehouyiye:before {
  content: "\e769";
}

.icon-my:before {
  content: "\e608";
}

.icon-my-copy:before {
  content: "\e63b";
}

.icon-home:before {
  content: "\e639";
}

.icon-home-999:before {
  content: "\e63a";
}

